VALIDATION_BFABRIC_INSTANCE=https://fgcz-bfabric.uzh.ch/bfabric/
SUPPORTED_BFABRIC_INSTANCES=["https://fgcz-bfabric.uzh.ch/bfabric/","https://fgcz-bfabric-test.uzh.ch/bfabric/"]
# It's recommended to define a relatively long and safely random secret key
#SECRET_KEY=
_FEEDER_PWD="TODO"
FEEDER_USER_CREDENTIALS={"https://fgcz-bfabric.uzh.ch/bfabric/":{"login":"pfeeder","password":"${_FEEDER_PWD}"},"https://fgcz-bfabric-test.uzh.ch/bfabric/":{"login":"pfeeder","password":"${_FEEDER_PWD}"}}
